<div class="content">
<div class="container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todos"
    [cdkDropListConnectedTo]="[doneList, doingList]"
    class="list"
    (cdkDropListDropped)="drop($event)">
    <mat-card>
      <mat-card-actions>

        <button mat-raised-button (click)="create()" class="btn-add"><i class="fa-solid fa-plus"></i> Create new</button>
      </mat-card-actions>
    </mat-card>
    @for (item of todos; track item.id) {
      <div class="box" cdkDrag>
        <mat-card class="mt-2 mb-2 w-100">
          <mat-card-header [hidden]="true" style="font-weight:500;">{{item.id}}</mat-card-header>
          <mat-card-header style="font-weight:500;">{{item.title}}</mat-card-header>
          <mat-card-content style="font-weight:300">
            <p>
              <label>Description: </label>
              {{item.description}}
            </p>

            <p>
              <label>Estimation: </label> {{item.estimation | date:'dd/MM/yyyy'}}
            </p>
              <mat-chip-set>

                @if(item.priority?.id == 1) {

                  <mat-chip style="background: lightskyblue">Low</mat-chip>
                }
                @if(item.priority?.id == 2) {
                  <mat-chip style="background: #ffcc80">Medium</mat-chip>
                }
                @if(item.priority?.id == 3) {
                  <mat-chip style="background: #ff8a65">High</mat-chip>
                }
              </mat-chip-set>
          </mat-card-content>
          <mat-card-actions class="ms-auto">
            <button mat-icon-button (click)="edit(item)"><i class="fa-regular fa-pen-to-square"></i></button>
            <button mat-icon-button (click)="delete(item)"><i class="fa-solid fa-trash"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>

    }
  </div>
</div>

<div class="container">
  <h2>Doing</h2>

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="doings"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="list"
    (cdkDropListDropped)="drop($event)">
    @for (item of doings; track item.id) {
      <div class="box" cdkDrag>
        <mat-card class="mt-2 mb-2 w-100">
          <mat-card-header [hidden]="true" style="font-weight:500;">{{item.id}}</mat-card-header>
          <mat-card-header style="font-weight:500;">{{item.title}}</mat-card-header>
          <mat-card-content style="font-weight:300;">
            {{item.description}}
            <mat-chip-set>

              @if(item.priority?.id == 1) {

                <mat-chip style="background: lightskyblue">Low</mat-chip>
              }
              @if(item.priority?.id == 2) {
                <mat-chip style="background: #ffcc80">Medium</mat-chip>
              }
              @if(item.priority?.id == 3) {
                <mat-chip style="background: #ff8a65">High</mat-chip>
              }
            </mat-chip-set>
          </mat-card-content>
          <mat-card-actions class="ms-auto">
            <button mat-icon-button (click)="edit(item)"><i class="fa-regular fa-pen-to-square"></i></button>
            <button mat-icon-button (click)="delete(item)"><i class="fa-solid fa-trash"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
    }
  </div>
</div>

<div class="container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, doingList]"
    class="list"
    (cdkDropListDropped)="drop($event)">
    @for (item of done; track item.id) {
      <div class="box" cdkDrag>
        <mat-card class="mt-2 mb-2 w-100">
          <mat-card-header [hidden]="true" style="font-weight:500;">{{item.id}}</mat-card-header>
          <mat-card-header style="font-weight:500;">{{item.title}}</mat-card-header>
          <mat-card-content style="font-weight:300;">
            {{item.description}}
            <mat-chip-set>

              @if(item.priority?.id == 1) {

                <mat-chip style="background: lightskyblue">Low</mat-chip>
              }
              @if(item.priority?.id == 2) {
                <mat-chip style="background: #ffcc80">Medium</mat-chip>
              }
              @if(item.priority?.id == 3) {
                <mat-chip style="background: #ff8a65">High</mat-chip>
              }
            </mat-chip-set>
          </mat-card-content>
          <mat-card-actions  class="ms-auto">
            <button mat-icon-button (click)="edit(item)"><i class="fa-regular fa-pen-to-square"></i></button>
            <button mat-icon-button (click)="delete(item)"><i class="fa-solid fa-trash"></i></button>
          </mat-card-actions>
        </mat-card>
      </div>
    }
  </div>
</div>
</div>
