.content {
  margin: 100px 170px;
  height: 820px;
  background-color:#F5F9E9;
  padding: 30px;
}
.container {
  width: 600px;
  max-width: 100%;
  margin: 0 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.content {
  background-color: #F5F9E9;

}
