<mat-form-field>
  @if (showCreateLabel) {
    <div class="overlay">
      <mat-form-field>
        <input matInput placeholder="Label name" [(ngModel)]="newLabelName">
      </mat-form-field>
      <mat-form-field>
        <input type="color" matInput placeholder="Label color" [(ngModel)]="newLabelColor">
      </mat-form-field>
      <mat-button-toggle (click)="cancelCreateLabel()">cancel</mat-button-toggle>
      <mat-button-toggle (click)="createLabel()">create</mat-button-toggle>
    </div>
  }
  <mat-label>Label</mat-label>

  <mat-select [(ngModel)]="listLabelSelected"
              (ngModelChange)="listLabelSelected" name="listLabelSelected"
              multiple
              (selectionChange)="labelSelectedChange()"

  >
    <mat-select-trigger>
      @if(listLabelSelected.length === 0) {
        ''
      }
      @else {
          {{listLabelSelected[0].title || ''}}
          @if ((listLabelSelected.length || 0) > 1) {
            <span class="example-additional-selection">
          (+{{(listLabelSelected.length || 0) - 1}} {{listLabelSelected.length === 2 ? 'other' : 'others'}})
        </span>
          }
        }

    </mat-select-trigger>
    @for (label of labels; track label) {
      <mat-option [value]="label"
                  (onSelectionChange)="selectLabel(label)"
                  [ngStyle]="{'background-color': label.color}"

      >{{label.title}}</mat-option>
    }
    <mat-divider></mat-divider>
    <mat-option class="hide-checkbox" (click)="showCreateLabel = true" [value]="null">Create new label</mat-option>
  </mat-select>
  <br>
</mat-form-field>
<div>
  @for (label of listLabelSelected; track label) {
    @if(label != null) {
      <mat-chip-row (removed)="remove(label)" [ngStyle]="{'background-color': label.color}">
        {{label.title}}
        <button matChipRemove [attr.aria-label]="'remove ' + label">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }

  }
</div>



