
<mat-dialog-content>
  <p>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="formData.title" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="formData.description" required></textarea>
    </mat-form-field>
  </p>

  <p>
    <mat-label>State</mat-label>
    <mat-chip-listbox  aria-label="state" [(ngModel)]="formData.typeId" required>
      @for (state of states; track state) {
        @if (formData.typeId === state.type){
          <mat-chip-option selected [value]="state.type" >{{state.title}}</mat-chip-option>
        }
        @else {
          <mat-chip-option [value]="state.type">{{state.title}}</mat-chip-option>
        }
      }
    </mat-chip-listbox>
  </p>
  <p>
    <mat-label>Priority</mat-label>
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="priority" [(ngModel)]="formData.priorityId" required>
      @for (pri of priorities; track pri) {
        @if (formData.priorityId === pri.id){
          <mat-chip-option [selected]="pri.color" [color]="pri.color" [value]="pri.id" selected>{{pri.name}}</mat-chip-option>
        }
        @else {
          <mat-chip-option [color]="pri.color" [value]="pri.id">{{pri.name}}</mat-chip-option>
        }
      }
    </mat-chip-listbox>
  </p>
  <p>
    <mat-label>Task</mat-label>


    <p-table [value]="tasks" dataKey="id" [tableStyle]="{ 'min-width': '30rem', 'font-size':'15px' }">

      <ng-template pTemplate="header">
        <tr>
          <th style="width:35%">Title</th>
          <th style="width:50%">Description</th>
          <th style="width:15%">Completed</th>
          <th></th>
        </tr>
        @if (tasks.length === 0){
          <tr>
            <td colspan="4">No tasks</td>
          </tr>
        }
      </ng-template>

      <ng-template pTemplate="body" let-task let-editing="editing">


          <tr>
            <td [pEditableColumn]="task.title" pEditableColumnField="title">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="task.title" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ task.title }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td [pEditableColumn]="task.description" pEditableColumnField="title">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="task.description" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ task.description }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-tableCheckbox [value]="task" (click)="onTaskChange()"></p-tableCheckbox>
            </td>
            <td>
              <p-button icon="pi pi-trash" (click)="deleteTask(task)"></p-button>
            </td>
          </tr>


      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="4">
            <button class="btn-add" (click)="createTask()"><i class="fa-solid fa-plus"></i> New task</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Estimation</mat-label>
      <input matInput [min]="minDate"  [matDatepicker]="dp" [(ngModel)]="formData.estimation" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp disabled="false"></mat-datepicker>
    </mat-form-field>
  </p>


</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="formData.title === '' || formData.description == ''" mat-button mat-dialog-close="1" (click)="confirm()">Confirm</button>
</mat-dialog-actions>

