<mat-dialog-content>
  <div>
    <h1>Edit</h1>
    @if (isAssignTodo){
      <h3>Owner: {{todoOwner.username}}</h3>
    }
  </div>

  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="formData.title" required [disabled]="isAssignTodo">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-form-field>
          <mat-label>Project</mat-label>
          <mat-select [(ngModel)]="formData.projectId" (selectionChange)="whenChangeProject()"   [disabled]="isAssignTodo">
            @for(project of projectList; track project) {
              @if (formData.projectId === project.id){
                <mat-option selected [value]="project.id">{{project.title}}</mat-option>
              }
              @else {
                <mat-option [value]="project.id">{{project.title}}</mat-option>
              }
            }
          </mat-select>
          @if(currentProject != null){
            <mat-hint>Range: {{currentProject.fromDate | date}} - {{currentProject.toDate | date}}</mat-hint>
          }
        </mat-form-field>
    </mat-grid-tile>



    <mat-grid-tile colspan="2" rowspan="2" class="editor">
        <angular-editor [config]="config" [(ngModel)]="formData.description" [disabled]="isAssignTodo"></angular-editor>
    </mat-grid-tile>


    <mat-grid-tile colspan="1">
      <p class="max-width">
        <mat-label>State</mat-label>
        <mat-chip-listbox  aria-label="state" [(ngModel)]="formData.typeId" required>
          @for (state of states; track state) {
            @if (formData.typeId === state.type){
              <mat-chip-option selected [value]="state.type" >{{state.title}}</mat-chip-option>
            }
            @else {
              <mat-chip-option [value]="state.type">{{state.title}}</mat-chip-option>
            }
          }
        </mat-chip-listbox>
      </p>
    </mat-grid-tile>



    <mat-grid-tile colspan="1" >
        <mat-form-field>
          <mat-label>Estimation</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp" [(ngModel)]="formData.estimation" required [disabled]="isAssignTodo">

          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp disabled="false"></mat-datepicker>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <p class="max-width">
        <mat-label>Priority</mat-label>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="priority" [(ngModel)]="formData.priorityId" required [disabled]="isAssignTodo">
          @for (pri of priorities; track pri) {
            @if (formData.priorityId === pri.id){
              <mat-chip-option [selected]="pri.color" [color]="pri.color" [value]="pri.id" selected>{{pri.name}}</mat-chip-option>
            }
            @else {
              <mat-chip-option [color]="pri.color" [value]="pri.id">{{pri.name}}</mat-chip-option>
            }
          }
        </mat-chip-listbox>
      </p>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="3">
        <mat-form-field class="assignee-list">
          <mat-label>Assignee</mat-label>
          <mat-chip-grid #chipGrid aria-label="Assignee selection" [disabled]="isAssignTodo">
            @for (assignee of assignees; track assignee) {
              <mat-chip-row (removed)="remove(assignee)">
                {{assignee}}
                <button matChipRemove [attr.aria-label]="'remove ' + assignee">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="Add assignee..." #assigneeInput [formControl]="assigneeCtrl"
                 [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add($event)"/>
          <mat-hint>email of assignee</mat-hint>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            @for (assignee of filteredAssignees | async; track assignee) {
              <mat-option [value]="assignee">{{assignee}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <app-tdl-label [todoId]="todoId"
                      [listLabelSelected]="listLabelSelected"
      ></app-tdl-label>
    </mat-grid-tile>




  </mat-grid-list>
  <div class="tasks">
    <mat-label>Task</mat-label>


    <p-table [value]="tasks" dataKey="id" [tableStyle]="{ 'min-width': '30rem', 'font-size':'15px' }">

      <ng-template pTemplate="header">
        <tr>
          <th style="width:35%">Title</th>
          <th style="width:50%">Description</th>
          <th style="width:15%">Completed</th>
          <th></th>
        </tr>
        @if (tasks.length === 0){
          <tr>
            <td colspan="4">No tasks</td>
          </tr>
        }
      </ng-template>

      <ng-template pTemplate="body" let-task let-editing="editing">
          <tr>
            <td [pEditableColumn]="task.title" pEditableColumnField="title" >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="task.title" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ task.title }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td [pEditableColumn]="task.description" pEditableColumnField="title">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="task.description" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ task.description }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <mat-checkbox [(ngModel)]="task.isCompleted" (change)="onTaskCompleteChange()"></mat-checkbox>
<!--              <p-tableCheckbox [value]="task" ></p-tableCheckbox>-->
            </td>
            <td>
              <p-button icon="pi pi-trash" (click)="deleteTask(task)"></p-button>
            </td>
          </tr>


      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="4">
            <button class="btn-add" (click)="createTask()"><i class="fa-solid fa-plus"></i> New task</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <mat-divider></mat-divider>
  <app-tdl-comment-list currentTodoId="{{data.item.id}}"></app-tdl-comment-list>





</mat-dialog-content>
<mat-dialog-actions class="ms-auto">
  <button [disabled]="formData.title === '' || formData.description == '' || invalidForm" mat-button (click)="confirm()" class="btn btn-success">Confirm</button>
  <button mat-button (click)="close()" class="btn btn-secondary">Cancel</button>
</mat-dialog-actions>



