<app-header (homePageEvent)="home()" ></app-header>
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="isLogged" mode="side">
      <mat-nav-list>
        <mat-list-item (click)="home()" [ngClass]="{'activeItem': page['home']}">
        <span class="entry">
          <mat-icon>apps</mat-icon>
          <span>All</span>
        </span>
        </mat-list-item>
        <div class="mat-list-item">
          <mat-divider></mat-divider>
        </div>
        <mat-list-item>
        <span class="entry">
          <mat-icon>today</mat-icon>
          <span>Calendar</span>
        </span>
        </mat-list-item>
        <div class="mat-list-item">
          <mat-divider></mat-divider>
        </div>


        <div mat-subheader>
          <span class="entry">
            <mat-icon>assignment_turned_in</mat-icon>
            <span>Project</span>
            <button class="btn btn-link add" (click)="createProject()"><mat-icon >add_circle_outline</mat-icon></button>
          </span>
        </div>
        <app-project (project)="chooseProject($event)"
                     [clickOtherPageEvent]= "(page['home'] || page['calendar'] || page['profile'])"
                     [projectAddEvent]="flagAddProject"
        ></app-project>

        @if(isLogged) {
          <mat-list-item class="user " [matMenuTriggerFor]="userAction" [ngClass]="{'activeItem': page['profile']}">
          <span>
          <mat-divider></mat-divider>
          </span>
            <span class="entry mt-auto">
          <mat-icon>account_circle</mat-icon>
          <span>{{ user.username }}</span>
        </span>
          </mat-list-item>
        }


        <mat-menu #userAction="matMenu" xPosition="before"  yPosition="above">
          <button mat-menu-item (click)="profile()">Profile</button>
          <button mat-menu-item (click)="showLogout()">Log out</button>
        </mat-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div [@slideInOut]="triggerAnimation(outlet)">

      <router-outlet #outlet="outlet" (activate)="getTodoComponent($event)"></router-outlet>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>

