<div class="signup-form-container">
  <div class="form-container">
    <form #signupForm="ngForm" autocomplete="off" class="form">
      <h4 class="form-header">Sign up
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </h4>
      <div class="control text-center">
        @if (signupForm.submitted && isSignUpFailed) {
          <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        }
      </div>
      <div class="control">
        <label for="name">Name</label>
        <input [(ngModel)]="data.username" #name="ngModel" name="username" required id="name" type="text">
        @if (name.errors && name.touched) {
          <div class="form-error">
            <div *ngIf="name.errors?.['required']">
              Name is required
            </div>
          </div>
        }
      </div>
      <div class="control">
        <label for="email">Email</label>
        <input [(ngModel)]="data.email" #email="ngModel" email="true" name="email" required id="email" type="text">
        <div class="form-error" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="email.errors?.['email'] && !email.errors?.['required']">
            Invalid Email address.
          </div>
        </div>
      </div>
      <div class="control">
        <label for="password">Password</label>
        <input
          [(ngModel)]="data.password" minlength="8" name="password" autocomplete="new-password" id="password" required type="password"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': password.errors }">
        @if (password.errors && password.touched) {
          <div class="form-error">
            <div *ngIf="password.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 8 characters long.
            </div>
          </div>
        }
      </div>
      <div class="control">
        <label for="password">Confirm Password</label>
        <input
          [(ngModel)]="data.confirmPassword" minlength="8" name="confirm-password" id="confirm-password" required type="password"
          #confirmPassword="ngModel"
          [ngClass]="{ 'is-invalid': confirmPassword.errors }">
        @if (confirmPassword.touched && confirmPassword.value !== password.value){
          <div class="form-error">
            <div>
              Confirm password don't match.
            </div>

          </div>
        }
      </div>
      <div class="control">
        <button [disabled]="signupForm.invalid" class="btn" type="submit" (click)="signUp()">Signup</button>
        <p class="alter-way">
          <a [routerLink]="'/login'">Already have an account?</a>
        </p>
      </div>
<!--      <div class="social-links-container">-->
<!--        <div class="hr"></div>-->
<!--        <div class="tag">Or, Sign in with</div>-->
<!--        <app-social-links></app-social-links>-->
<!--      </div>-->
    </form>
  </div>
</div>
